.user-profile {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-profile i {
    font-size: 20px;
    color: #242423;
    cursor: pointer;
}

.profile-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 80%;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    margin-top: 5px;
}

.user-profile i.fa-user:hover + .profile-dropdown, 
.profile-dropdown:hover {
    display: block;
}

.fa-paper-plane:hover {
    color: rgb(0, 81, 255); /* Change icon color */
    text-shadow: 0 0 2px black;

}

.fa-bell:hover {
    color: yellow; /* Change icon color */
    text-shadow: 0 0 2px black;

}

.fa-user:hover {
    color: #00ff80; /* Change icon color */
    text-shadow: 0 0 2px black;
}


.profile-info {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.profile-info h4 {
    margin: 0;
    color: #242423;
    font-size: 16px;
}

.profile-info p {
    margin: 5px 0 0;
    color: #666;
    font-size: 14px;
}

.logout-btn {
    display: block;
    padding: 12px 15px;
    color: #E4405F;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #f8f8f8;
}

.logout-btn i {
    margin-right: 8px;
} 